.title{
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.grid{
    display:grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows: 250px 250px;
    gap:20px;
}
.header{
    background-color: antiquewhite;
    text-align:center;
    padding:10px;
}
.heading{
    font-weight:bold;
    border-bottom:1px solid black;
    margin-top:0px;
}
.list{
    background-color: antiquewhite;
    padding:10px; 
}
ol,ul{
    font-weight:bold;
}
.registration{
    background-color: antiquewhite;
    text-align:center;
    padding:10px; 
    height:500px;
}
.edit{
    text-align:center;
    width:50%;
    border-radius:10px;
    border-color:white;
    margin-bottom:30px;
}
.submit{
    border-radius:10px;
    background-color:green;
    width:150px;
}
.flex{
    display:flex;
    justify-content: space-around;
}
.flexbox{
    background-color: antiquewhite;
    padding:10px;
    grid-column-start:1;
    grid-column-end:3;
}
.child{
    background-color:aquamarine;
    width:200px;
    height:200px;
    margin-left:5px;
    text-align:center;
    font-weight:bold;
}
@media(max-width:480px){
    .grid{
       display:flex;
       flex-direction:column;
    }
}